# To ensure app dependencies are ported from your virtual environment/host machine into your container, run 'pip freeze > requirements.txt' in the terminal to overwrite this file
joblib
flask==1.1.2
gunicorn==20.0.4
flask_cors
scikit-learn
pandas
numpy

